.l-container{
    background-color: #2c2f33;
    /* background-color: blue; */
    color: #ffffff;
}
.l-container a{
    color: #99aab5;
    background-color: #2c2f33;
}
.l-container a:hover{
    color: #ffffff;
    background-color: #7289da;
}

.carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .container-fluid {
    padding: 0px;
}
.carousel-control-prev, .carousel-control-next {
    height: 70vh;
    margin-top: 100px !important;
}
.container {
    margin-top: 30px !important;
}