{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container d-flex justify-content-center">
    <div class="col-7 ">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><b>Edit profile</b></div>
            <div class="panel-body">
                <form style="text-align: center;" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="save btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}