{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}  
    <h1>HOME</h1>


    <h3>Projects Categories</h3>
    {% for category in categories %}
        <a href="{% url 'category_projects' category.id %}"> {{ category.name }} </a>
    {% empty %}
        <h2>Sorry, you don't have projects.</h2>
    {% endfor %}



{% endblock %}
