{% extends 'base.html' %}
{% load my_custom_filters %}
{% block title %} Profile {% endblock %}

{% block content %}

<div class="container">
    <a href="{% url 'add_project' %}" class="btn btn-info" role="button">Add project</a>
    <h1> Your Projects</h1>

    <!-- Begin Project card -->

    <div class="row col-lg-12">

        {% for project in projects %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card border-0 shadow mb-4">

                <!-- Card image -->
                <div class="view">
                    {% if project.project_pictures_set.all %}
                    <img class="card-img-top rounded-top" src="{{ project.id|get_url }}" alt="Card image cap">
                    {% else %}
                    <img class="card-img-top rounded-top" src="" alt="No image available">
                    {% endif %}
                </div>
                <!-- Card content -->
                <div class="card-body border rounded-bottom">
                    <a href="{% url 'view_project' project.id %}" class="card-title">
                        {{project.title}}
                    </a>
                    <!-- <hr> -->
                    <!-- <div class="card-body"> -->
                    <p class="card-text">
                        {% autoescape off %}
                        {{ project.details }}
                        {% endautoescape %}
                    </p>
                    <hr>
                    <ul class="list-unstyled d-flex justify-content-between text-center">
                        <li class="pledged">
                            <p class="font-weight-bold text-dark body-info">Target</p>
                            <span class="amount">${{project.total_target}}</span>
                        </li>
                        <li class="pledged">
                            <p class="font-weight-bold text-dark body-info">Donations</p>
                            {% if project.donations.all %}
                            <span class="amount">{{ project.id|get_donations}}</span>
                            {% else %}
                            <span class="amount">0</span>
                            {% endif %}

                        </li>
                    </ul>
                    <!-- </div> -->
                </div>

            </div>
        </div>
        {% empty %}
        <h2>Sorry, There are no projects yet.</h2>
        {% endfor %}

    </div>
    <!-- End Project card -->


</div>

{% endblock %}