{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="container">
    <a href="{% url 'add_project' %}" class="btn btn-info" role="button">Add project</a>
    <h1> Your Projects</h1>
<ul> 
    {% for project in projects %}
    <li>
        <a href="../../project/{{ project.id }}">{{project.title}}</a>
    </li>
    <!-- {% for project_pics in project.project_projects_set.all %}
        <li>
            {{  project_pics  }}
        </li>
    {% endfor %} -->
    {% empty %}
            <h2>Sorry, you don't have projects.</h2>
    {% endfor %}
</ul>

</div>

{% endblock %}