{% extends 'base.html' %}

{% block title %} Project {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container d-flex justify-content-center">
    <div class="col-7 ">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><b>Add project</b></div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    {{image_form|crispy}}
                    <button type="submit" class="save btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("input[name='tags']").tagsinput({
        confirmKeys: [32]
    });
</script>
{% endblock %}