{% extends 'base.html' %}

{% block title %} Home {% endblock %}

<h1>HOME</h1>
{% block content %}

<div class="container">
    <h2>{{ category.name }} Projects</h2>
    <!-- Begin Project card -->
    <div class="row col-lg-12">

        {% for project in projects %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card border-0 shadow mb-4">
                <!-- Card image -->
                <div class="view">
                    {% for project_pic in projects_pics %}
                    {% if project.id == project_pic.project_id%}

                    <img class="card-img-top rounded-top" src="{{project_pic.picture.url}}" alt="Card image cap">

                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Card content -->
                <div class="card-body border rounded-bottom">
                    <a href="{% url 'view_project' project.id %}" class="card-title">
                        {{project.title}}
                    </a>
                    <hr>
                    <div class="card-body">
                        <p class="card-text">{{project.details}}</p>
                        <hr>
                        <ul class="list-unstyled d-flex justify-content-between text-center">
                            <li class="pledged">
                                <p class="font-weight-bold text-dark body-info">Target</p>
                            </li class="pledged">
                            <li>
                                <span class="amount body-figure">${{project.total_target}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h2>Sorry, There are no projects yet.</h2>
        {% endfor %}

    </div>

    <!-- End Project card -->
</div>



{% endblock %}