{% extends 'base.html' %}

{% block title %} Project {% endblock %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
{% load my_custom_filters %}

{% if project %}
{% load mathfilters %}
<h1 class="project-title mb-5">{{ project.title }}</h1>
<div class="row">

    <div id="content" class="col-md-8">

        <div id="image-slider" class="carousel slide mb-4" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for i in range %}
                <li data-target="#image-slider" data-slide-to="{{i}}" class="active"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">

                {% for pic in pics %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img class="d-block w-100" alt="not found" src={{pic.picture.url}} alt="Project Image"
                        height="300px" width="auto">
                </div>
                {% endfor %}




            </div>
            <a class="carousel-control-prev" href="#image-slider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#image-slider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
            <div class="text-secondary">
                <p class="project-content">{{ project.details }}</p>
            </div>

            <div class="p-2 text-secondary fa fa-comments"> comments</div>
            <form style="position: relative;" action="/home/project/{{ project.id }}/comment" accept-charset="UTF-8"
                method="post">
                {% csrf_token %}
                {{form|crispy}}
            </form>

            {% for comment in project.comment_set.all %}

            <!-- <div style="position: relative" class="p-3">

                <span style="float: right">
                    {% if comment.user == user %}
                    <a class="btn btn-danger ml-1" href="/comments/1/delete">x</a>
                    {% else %}
                    {% if not comment.id in reported_comments %}
                    <form action="{% url 'report_comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger ml-1">report</button>
                    </form>
                    {% else %}
                    <button type="submit" class="btn btn-success ml-1" disabled>reported!</button>

                    {% endif %}

                    {% endif %}

                </span>

                <span>
                    <i class="fa fa-user text-secondary">{{ comment.user }}</i> <br />
                    {{ comment }}
                </span>

            </div> -->


            <div class="row">
                <section class="comments">
                    <div class="thumbnail cf">
                      <img src="{{ comment.user.profile_picture.url }}" alt="" />
                    </div>
                    <div class="comment-contents">
                      <a href="#" class="comment-author" title="Comment Author"><h2>{{ comment.user }}</h2></a>
                      <p>{{ comment }}</p>
                      <div class="comment-infos">
                        <div class="comment-date">
                            {{ comment.created_at }}
                        </div>
                        <div class="comment-reply">
                          <a href="#" class="reply" title="Add a Reply" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" >12 replies</a>
                        </div>
                      </div>


                      <div class="collapse" id="collapseExample">
                        <div class="shadow-sm">
                            <input class="comment-input w-100 mb-4" placeholder="Add reply" />
                            <div class="card card-body">
                                <span class="fa fa-user"> Ahmed</span>
                                <p>ASDFVsd vsdvsdvsdv knas</p>
                            </div>
                        </div>
                      </div>


                    </div>
                  </section>

            </div>
            




            {% endfor %}

        
        
        <!-- <form id="addDonation" accept-charset="UTF-8" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-9">
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    {{donation_form|crispy}}
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form> -->



        <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Donate</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addDonation" accept-charset="UTF-8" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="project_id" value="{{project.id}}">
                        <label for="recipient-name" class="col-form-label">Amount:</label>
                        {{donation_form|crispy}}
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" onclick="$('#addDonation').submit()" data-dismiss="modal" class="btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </div>

        {% else %}
        <h5 class="text-secondary"> no project found matching your id </h5>
        {% endif %}


    </div>

    <div class="col-md-4">
        <div class="side-donate p-5">
            <div class="row">
                <p><strong
                        class="total-donations">${% if project_donations.total_amount %}{{ project_donations.total_amount }}{% else %}0{% endif %}</strong>
                    raised of ${{ project.total_target }} goal</p>
                <div class="progress-wrap progress" data-progress-percent="{% with percent=project_donations.total_amount|div:project.total_target %}{{ percent|mul:100 }}{% endwith %}">
                    <div class="progress-bar progress" style="border-radius: 0;"></div>
                </div>
            </div>
            <div class="row">
                <button data-toggle="modal" data-target="#donateModal" data-whatever="test" class="btn btn-block btn-success">
                    Donate
                </button>
            </div>
            <div class="row mt-5">
                <p><strong>Started at:</strong> {{ project.start_date|date:"D, j F, Y" }}</p>
            </div>
            <div class="row">
                <p><strong>End date:</strong> {{ project.start_date|date:"D, j F, Y" }}</p>
            </div>

            <div class="row">
                <p><strong>Organized by:</strong> {{ project.owner }}</p>

            </div>

            <div class="row">
                <p class="fa fa-tag"><a
                    href="../category/{{ project.category.id }}/projects"> {{ project.category.name }}</a>
                </p>
            </div>

            <div class="row report">

                {% if user == project.owner %}
                <form action="{% url 'delete_project' project.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                </form>
                <!-- alert in case of donations more than 25% -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible show" role="alert">
                    <strong>{{message}}</strong> Your project donations are Over 25%.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}

                {% else %}

                {% if is_reported %}
                <button type="submit" class="btn btn-success ml-1" disabled>reported!</button>
                {% else %}

                <form action="{% url 'report_project' project.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger ml-1">report</button>
                </form>
                {% endif %}

                {% endif %}

            </div>

           

        </div>
    </div>

    <div class="row">
        <div class="text-secondary p-5 m-5">
            <p>Similar Projects: </p>

            <div class="d-flex flex-row justify-content-between ">
            {% for similar in similar_projects %}

    
            <li class="similar-project"></li>
                <!-- <span><a href="/home/project/{{similar.project.id}}">{{ similar.project }}</a></span>
                <span>factor: {{ similar.factor }}</span> -->
                
                <div class="shadow-sm mb-3" style="max-width: 540px;">
                    <div class="row no-gutters col-md-12">
                      <div class="col-md-4">
                        <img src="{{ similar.project.id|get_url }}" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <a href="/home/project/{{similar.project.id}}"><h5 style="font-size: 2rem;" class="card-title">{{ similar.project }}</h5></a>
                            <p class="text-summary">{{similar.project.details|truncatechars:50}}</p>
                            <p><small class="text-muted">{{similar.project.start_date}}</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>

     
            {% endfor %}
        </div>

        </div>
    </div>

</div>


{% endblock %}

{% block script %}
<script>
    $('#addDonation').on('submit', function (e) {
        e.preventDefault();
        let donationAmount = $('#amount').val()
        let serializedData = $(this).serialize();
        if (donationAmount > 0) {
            $.ajax({
                type: 'POST',
                url: "{% url 'donate' %}",
                data: serializedData,
                success: function (response) {
                    $("#addDonation").trigger('reset');
                    $("#donations").html(response.donations)

                    // alert("thank you for your donations")
                    // jQuery('#donateModal').modal('show');
                    
                    let alert = '<div class="alert alert-success alert-dismissible show" role="alert"><strong>Thanks!</strong> Your donation has been added<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                    $('#content').prepend(alert);

                },
                error: function (response) {
                    alert(response.responseJSON.error)
                }
            })
        } else if (donationAmount < 1) {
            alert("You can't add zero or negative donation")
        }
    });

    $(document).ready(function(){
        $('.rating span').click(function (e) {
            e.preventDefault();
            let rate = $(this).attr("id").split("rate-")[1];
            let project_id = {{project.id}};
            $.ajax({
                type: "post",
                dataType: "json",
                url: '{% url 'rate' %}',
                data: {'rate': rate, 'project_id': project_id,  csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data) {
                    $("span").removeClass("rated");
                    for(let i = 1; i <= 5; i++){
                        if(i <= data.rate){
                            $("#rate-"+i).addClass("rated");
                        }
                    }
                    $("#current_rating").html(data.rate)
                },
                error: function (data, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        });
    });
</script>

<script>

    (function () {
        moveProgressBar();
        $(window).resize(function () {
            moveProgressBar();
        });

        // SIGNATURE PROGRESS
        function moveProgressBar() {
            console.log("moveProgressBar");
            var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
            var getProgressWrapWidth = $('.progress-wrap').width();
            var progressTotal = getPercent * getProgressWrapWidth;
            var animationLength = 2500;

            // on page load, animate percentage bar to data percentage length
            // .stop() used to prevent animation queueing
            $('.progress-bar').stop().animate({
                left: progressTotal
            }, animationLength);
        }
    }())

</script>


{% endblock %}