{% extends 'base.html' %}

{% block title %} Project {% endblock %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
{% load my_custom_filters %}

{% if project %}

<div id="image-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#image-slider" data-slide-to="0" class="active"></li>
        {% for i in range %}
        <li data-target="#image-slider" data-slide-to="{{i|add:'1'}}" class="active"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        <div class="carousel-caption d-none d-md-block">
            <h5>{{ project.title }}</h5>

            <p>{{ project.total_target }}</p>


        </div>

        <!-- Default image for showing project details -->
        <div class="carousel-item active">
            <img class="d-block w-100"
                src="https://individuals.voya.com/sites/default/files/media/image/product-banner_fixed_income.png"
                alt="Default Image" height="300px" width="auto">
        </div>

        <!-- Project Images -->

        {% for pic in pics %}
        <div class="carousel-item">
            <img class="d-block w-100" alt="not found" src={{pic.picture.url}} alt="Project Image" height="300px"
                width="auto">
        </div>
        {% endfor %}




    </div>
    <a class="carousel-control-prev" href="#image-slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#image-slider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="bg-dark text-white">
    <div class="text-secondary">
        <p class="card-text"><a href="">{{ project.details }}</a></p>
        <p class="card-text"><a href="">{{ project.start_date }}</a></p>
        <p class="card-text"><a href="">{{ project.end_date }}</a></p>
        <p class="card-text">Current donations: <a href=""><span
                    id="donations">{{ project_donations.total_amount }}</span></a></p>
        <p class="card-text"><a href="../category/{{ project.category.id }}/projects">{{ project.category.name }}</a>
        </p>

        {% if user == project.owner %}
        {% if  project.total_target|quarter >  project_donations.total_amount or project_donations.total_amount == None %}
        <form action="{% url 'delete_project' project.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
        {% endif %}
        {% else %}

        {% if is_reported %}
        <button type="submit" class="btn btn-success ml-1" disabled>reported!</button>
        {% else %}

        <form action="{% url 'report_project' project.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger ml-1">report</button>
        </form>
        {% endif %}

        {% endif %}
    </div>

    <div class="p-2 text-light bg-secondary">comments</div>
    <form style="position: relative;" action="/home/project/{{ project.id }}/comment" accept-charset="UTF-8"
        method="post">
        {% csrf_token %}
        {{form|crispy}}
    </form>

    {% for comment in project.comment_set.all %}

    <div style="position: relative" class="p-3">

        <span style="float: right">
            {% if comment.user == user %}
            <a class="btn btn-danger ml-1" href="/comments/1/delete">x</a>
            {% else %}
            {% if not comment.id in reported_comments %}
            <form action="{% url 'report_comment' comment.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger ml-1">report</button>
            </form>
            {% else %}
            <button type="submit" class="btn btn-success ml-1" disabled>reported!</button>

            {% endif %}

            {% endif %}

        </span>

        <span>
            <i class="fa fa-user text-secondary">{{ comment.user }}</i> <br />
            {{ comment }}
        </span>

    </div>


    {% endfor %}

</div>
<form id="addDonation" accept-charset="UTF-8" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-9">
            <input type="hidden" name="project_id" value="{{project.id}}">
            {{donation_form|crispy}}
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
<p class="card-text">{{ rate }}</p>
{% else %}
<h5 class="text-secondary"> no project found matching your id </h5>
{% endif %}

<div class="text-secondary p-5 m-5">
<p>Similar Projects: </p>
{% for similar in similar_projects %}

<li>
    <span><a href="/home/project/{{similar.project.id}}">{{ similar.project }}</a></span>
    <span>factor: {{ similar.factor }}</span>

</li>

{% endfor %}

</div>



{% endblock %}

{% block script %}
<script>
    $('#addDonation').on('submit', function (e) {
        e.preventDefault();
        let donationAmount = $('#amount').val()
        let serializedData = $(this).serialize();
        if (donationAmount > 0) {
            $.ajax({
                type: 'POST',
                url: "{% url 'donate' %}",
                data: serializedData,
                success: function (response) {
                    $("#addDonation").trigger('reset');
                    $("#donations").html(response.donations)
                    alert("thank you for your donations")
                },
                error: function (response) {
                    alert(response.responseJSON.error)
                }
            })
        } else if (donationAmount < 1) {
            alert("You can't add zero or negative donation")
        }
    });
</script>
{% endblock %}