{% extends 'base.html' %}

{% block title %} Project {% endblock %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
{% load my_custom_filters %}
<div class="container">


    {% if project %}
    <div class="card bg-dark text-white">
        <img src="https://source.unsplash.com/800x300" height="300px" width="auto" class="card-img" alt="img">
        <div class="text-secondary card-img-overlay">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text"><a href="">{{ project.details }}</a></p>
            <p class="card-text"><a href="">{{ project.total_target }}</a></p>
            <p class="card-text"><a href="">{{ project.start_date }}</a></p>
            <p class="card-text"><a href="">{{ project.end_date }}</a></p>
            <p class="card-text"><a href=""><span id="donations">{{ donations }}</span></a></p>
            <p class="card-text"><a
                    href="../category/{{ project.category.id }}/projects">{{ project.category.name }}</a></p>
                
            {% for total_amount_project in total_amount_set %} 
                {% if  total_amount_project.total_amount  <   project.total_target|quarter and  total_amount_project.project_id == project.id  %}
                    <form action="{% url 'delete_project' project.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form> 
                {% endif %}
            {% endfor %}
            
            
        </div>
        

        <div class="p-2 text-light bg-secondary">comments</div>
        <form style="position: relative;" action="/home/project/{{ project.id }}/comment" accept-charset="UTF-8" method="post">
            {% csrf_token %}
            {{form|crispy}}
        </form>

        {% for comment in project.comment_set.all %}

        <div style="position: relative" class="p-3">
            <span>
                {{ comment }}
            </span>
            <span style="float: right">
                By: {{ comment.user }}
                <a class="btn btn-danger ml-1" href="/comments/1/delete">x</a>
            </span>

        </div>


        {% endfor %}

    </div>
    <form id="addDonation" accept-charset="UTF-8" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-9">
                <input type="hidden" name="project_id" value="{{project.id}}">
                {{donation_form|crispy}}
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
    <p class="card-text">{{ rate }}</p>
    {% else %}
    <h5 class="text-secondary"> no project found matching your id </h5>
    {% endif %}



</div>

{% endblock %}

{% block script %}
<script>
$('#addDonation').on('submit', function (e) {
  e.preventDefault();
  let donationAmount = $('#amount').val()
  let serializedData = $(this).serialize();
  if(donationAmount > 0){
      console.log("something heres")
      $.ajax({
            type: 'POST',
            url: "{% url 'donate' %}",
            data: serializedData,
            success: function (response) {
                $("#addDonation").trigger('reset');
                $("#donations").html(response.donations);
            },
            error: function (response) {
                alert(response)
            }
        })
  } else if (donationAmount < 1){
      alert("You can't add zero or negative donation")
  }
});
</script>
{% endblock %}